<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Customer Payment</strong></h1>
        <p class="lead"><strong>View Customer Payment Details</strong></p>
    </div>
</div>


<div class="button">
    <button type="button" class="btn btn-primary btn-dark" data-bs-toggle="modal" data-bs-target="#add">
        Add Customer
    </button>
</div>

<div class="dropdown d-grid gap-2 d-md-flex justify-content-md-end me-4">

    <div class="me-5">
        <form class="d-flex">
            <input class="form-control btn-sm" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-dark btn-sm" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <button class="btn btn-outline-dark btn-sm dropdown-toggle me-5 ms-5" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-filter"></i> Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item"><i class="bi bi-sort-alpha-down"></i>A to Z</a></li>
        <li><a class="dropdown-item"><i class="bi bi-sort-alpha-up"></i>Z to A</a></li>
        <li><a class="dropdown-item"><i class="bi bi-sort-up"></i>Amount : Low to High</a></li>
        <li><a class="dropdown-item"><i class="bi bi-sort-down"></i>Amount : High to Low</a></li>
    </ul>

    <button class="btn btn-outline-dark btn-sm dropdown-toggle ms-5 me-2" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-funnel"></i> Filter
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item">Recent</a></li>
        <li><a class="dropdown-item">This Week</a></li>
        <li><a class="dropdown-item">Last Week</a></li>
        <li><a class="dropdown-item">This Month</a></li>
        <li><a class="dropdown-item">Last Month</a></li>
        <li><a class="dropdown-item">Choose Date
            </a></li>
    </ul>
</div>



<div class="table-responsive mt-3">
    <table class="table table-light table-striped table-hover table-sm table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Total Amount</th>
                <th>Amount Paid</th>
                <th>Amount Pending</th>
                <th>Actions</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody class="align-middle tag">
            <tr>
                <td>1</td>
                <td>Clark</td>
                <td>10000</td>
                <td>3000</td>
                <td>7000</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a routerLink="/orders"><button type="button" class="btn">
                            <i class="bi bi-journal-check"></i>
                        </button></a>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="bi bi-receipt"></i>
                    </button>
                    <a routerLink="/payment-history"><button type="button" class="btn">
                        <i class="bi bi-clock-history"></i>
                    </button></a>
                </td>
                <td><div class="input-group input-group-sm my-2">
                    <input type="text" placeholder="Add Remark" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peter</td>
                <td>12000</td>
                <td>12000</td>
                <td>00</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a routerLink="/orders"><button type="button" class="btn">
                            <i class="bi bi-journal-check"></i>
                        </button></a>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="bi bi-receipt"></i>
                    </button>
                    <a routerLink="/payment-history"><button type="button" class="btn">
                        <i class="bi bi-clock-history"></i>
                    </button></a>
                </td>
                <td><div class="input-group input-group-sm my-2">
                    <input type="text" placeholder="Add Remark" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tom</td>
                <td>1400</td>
                <td>1000</td>
                <td>400</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a routerLink="/orders"><button type="button" class="btn">
                            <i class="bi bi-journal-check"></i>
                        </button></a>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="bi bi-receipt"></i>
                    </button>
                    <a routerLink="/payment-history"><button type="button" class="btn">
                        <i class="bi bi-clock-history"></i>
                    </button></a>
                </td>
                <td><div class="input-group input-group-sm my-2">
                    <input type="text" placeholder="Add Remark" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>John</td>
                <td>16125</td>
                <td>10000</td>
                <td>6125</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a routerLink="/orders"><button type="button" class="btn">
                            <i class="bi bi-journal-check"></i>
                        </button></a>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="bi bi-receipt"></i>
                    </button>
                    <a routerLink="/payment-history"><button type="button" class="btn">
                        <i class="bi bi-clock-history"></i>
                    </button></a>
                </td>
                <td><div class="input-group input-group-sm my-2">
                    <input type="text" placeholder="Add Remark" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jose</td>
                <td>80000</td>
                <td>60000</td>
                <td>20000</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a routerLink="/orders"><button type="button" class="btn">
                            <i class="bi bi-journal-check"></i>
                        </button></a>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#view">
                        <i class="bi bi-receipt"></i>
                    </button>
                    <a routerLink="/payment-history"><button type="button" class="btn">
                        <i class="bi bi-clock-history"></i>
                    </button></a>
                </td>
                <td><div class="input-group input-group-sm my-2">
                    <input type="text" placeholder="Add Remark" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </td>
            </tr>
        </tbody>
        <!-- <tfoot>
                <tr>
                    <td>Total:</td>
                    <td></td>
                    <td>xxxx</td>
                    <td>xxxxx</td>
                    <td></td>
                </tr>
            </tfoot> -->
    </table>
</div>















<!-- Modal -->

<!-- Add Modal -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="create">

                <div class="row">
                    <div class="col">
                        <div class="form-outline mt-4">
                            <label class="form-label" for="form6Example1">Name</label>
                            <input placeholder="Enter Name" type="text" id="form6Example1" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example1">Amount Paid</label>
                            <input placeholder="Enter Paid Amount" type="number" id="form6Example1"
                                class="form-control" />

                        </div>
                    </div>
                </div>

                <div>
                    <div class="col my-4">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example2">Amount Pending</label>
                            <input placeholder="Enter Pending Amount" type="number" id="form6Example2" class="form-control" />

                        </div>
                    </div>
                </div>




                <!-- Submit button -->
                <div class="modal-footer mb-4">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-dark">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Customer Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="create">

                <div class="row">
                    <div class="col">
                        <div class="form-outline mt-4">
                            <label class="form-label" for="form6Example1">Name</label>
                            <input placeholder="Enter Name" type="text" id="form6Example1" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example1">Amount Paid</label>
                            <input placeholder="Enter State" placeholder="Enter Paid Amount" type="number"
                                id="form6Example1" class="form-control" />

                        </div>
                    </div>
                </div>

                <div>
                    <div class="col my-4">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example2">Amount Pending</label>
                            <input placeholder="Enter Pending Amount" type="number" id="form6Example2" class="form-control" />

                        </div>
                    </div>
                </div>




                <!-- Submit button -->
                <div class="modal-footer mb-4">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Customer Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Delete this Customer</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark">Confirm</button>
            </div>
        </div>
    </div>
</div>