.customer {
  margin-left: 16%;
}
.body {
  margin-left: 16% !important;
}
.jumbotron {

  padding-right: 0px;
}

.button {
  margin-left: 17%;
}

.table{
  width: 85%;
  margin-left: 10px;
  margin-top: 1%;
}